@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

a[href]:after {
  content: "";
}
a[href] {
  color: #0284c7;
}
