@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply contents;
}

html {
  color-scheme: dark;
  -webkit-tap-highlight-color: transparent;
  @apply scroll-smooth;
  @apply select-none selection:bg-brand-950 selection:text-brand-400 sm:select-auto;
  @apply overflow-y-scroll;
}

/* TODO: make this actually work */
[id] {
  @apply scroll-mt-20;
}
