name: autofix.ci

on:
  pull_request:
  push:
    branches: ["main"]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.20.1
          cache: pnpm
      - name: Install dependencies
        # TODO: reenable
        # run: pnpm install --frozen-lockfile
        run: pnpm install

      - run: pnpm format

      - uses: autofix-ci/action@8caa572fd27b0019a65e4c695447089c8d3138b9
